/* Header
-------------------------------------------------- */

header .active,
header .navbar-nav>li>a:hover {
    background: linear-gradient(#ffffff, #f1f1f1);
}

.navbar-text {
    color: black;
}
/* Users View
-------------------------------------------------- */

#users tbody td {
    vertical-align: middle;
}
/* Sticky footer styles
-------------------------------------------------- */

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    
    margin-bottom: 60px;
    padding-bottom: 10px;
}

#users th[ng-click] {
    cursor: pointer;
}

#users th[ng-click]:hover {
    text-decoration: underline;
}

.pagination {
    margin: 0px !important;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    
    margin-top: 10px;
    height: 60px;
    background: linear-gradient(to left, #111111, #3c3c3c, #111111) #3c3c3c;
    color: lightgray;
}

.footer-inner {
    margin: 10px auto;
    padding: 7px 15px 0px;
    width: 100%;
    vertical-align: middle;
}

.right {
    text-align: right
}
