<div class="jumbotron">
    <h1>Administration Panel</h1>
</div>
<div class="row marketing">
    <h4>User Manager Application</h4>
    <p>
        This administration panel provides an application used to manage users in a fake database. Its functions are based on CRUD (Create, Read, Update, Delete).
    </p>
    <p>
        You can access this app with the navbar (on top) or this
        <a ng-href="#/users">link</a>
    </p>
    <p>
        This website uses Yeoman, AngularJS and Bootstrap.
    </p>
</div>
